.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 60%;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalPopup {

    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    align-items: center;
}

.actions {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 61px;
}


.toggle-button {
    border: 0;
    color: white;
    background: #fb7b6b;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    padding-right: 25px;
    font-size: 0.9rem;
    line-height: 1;
}

.toggle-button:hover {
    background: #dd2c00;
    opacity: 0.7;
}